USE [master]
GO
/****** Object:  Database [TPI2023TM03]    Script Date: 31/8/2023 11:34:44 a. m. ******/
CREATE DATABASE [TPI2023TM03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPI2023TM03', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TPI2023TM03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPI2023TM03_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TPI2023TM03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPI2023TM03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPI2023TM03]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[tipoUsuario] [varchar](20) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[idHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[estado] [bit] NOT NULL,
	[numeroHabitacion] [int] NOT NULL,
	[pisoHabitacion] [int] NOT NULL,
	[idTipoHabitacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Huesped]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huesped](
	[idHuesped] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[numeroDocumento] [varchar](20) NOT NULL,
	[tipoDocumento] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHuesped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrecioServicio]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrecioServicio](
	[idPrecioServicio] [int] IDENTITY(1,1) NOT NULL,
	[fechaPrecio] [date] NOT NULL,
	[precioServicio] [float] NOT NULL,
	[idServicio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPrecioServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrecioTipoHabitacion]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrecioTipoHabitacion](
	[idPrecioTipoHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[fechaPrecio] [date] NOT NULL,
	[precioHabitacion] [float] NOT NULL,
	[idTipoHabitacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPrecioTipoHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[idReserva] [int] IDENTITY(1,1) NOT NULL,
	[fechaInscripcion] [date] NOT NULL,
	[fechaInicioReserva] [date] NOT NULL,
	[fechaFinReserva] [date] NOT NULL,
	[estadoReserva] [varchar](100) NOT NULL,
	[cantidadPersonas] [int] NOT NULL,
	[idHabitacion] [int] NOT NULL,
	[idHuesped] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva_Servicio]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva_Servicio](
	[idReserva] [int] NOT NULL,
	[idServicio] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[idServicio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 31/8/2023 11:34:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[idTipoHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[numeroCamas] [int] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK__Habitacio__idTip__5165187F] FOREIGN KEY([idTipoHabitacion])
REFERENCES [dbo].[TipoHabitacion] ([idTipoHabitacion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK__Habitacio__idTip__5165187F]
GO
ALTER TABLE [dbo].[PrecioServicio]  WITH CHECK ADD  CONSTRAINT [FK__PrecioSer__idSer__5441852A] FOREIGN KEY([idServicio])
REFERENCES [dbo].[Servicio] ([idServicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrecioServicio] CHECK CONSTRAINT [FK__PrecioSer__idSer__5441852A]
GO
ALTER TABLE [dbo].[PrecioTipoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK__PrecioTip__idTip__571DF1D5] FOREIGN KEY([idTipoHabitacion])
REFERENCES [dbo].[TipoHabitacion] ([idTipoHabitacion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrecioTipoHabitacion] CHECK CONSTRAINT [FK__PrecioTip__idTip__571DF1D5]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([idHabitacion])
REFERENCES [dbo].[Habitacion] ([idHabitacion])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([idHuesped])
REFERENCES [dbo].[Huesped] ([idHuesped])
GO
ALTER TABLE [dbo].[Reserva_Servicio]  WITH CHECK ADD FOREIGN KEY([idReserva])
REFERENCES [dbo].[Reserva] ([idReserva])
GO
ALTER TABLE [dbo].[Reserva_Servicio]  WITH CHECK ADD FOREIGN KEY([idServicio])
REFERENCES [dbo].[Servicio] ([idServicio])
GO
USE [master]
GO
