@page
@using Entidad.Models;
@model TuProyecto.Models.TipoHabitacionModel

<!-- Agrega un botón o un formulario para realizar una solicitud GET a la API para obtener todos los tipos de habitación -->
<button asp-page-handler="GetAllTipoHabitacion">Obtener todos los tipos de habitación</button>

<ul>
    @foreach (var tipoHabitacion in Model.TipoHabitacions)
    {
        <li>@tipoHabitacion.Descripcion</li>
    }
</ul>

@functions {
    private HttpClient _httpClient;
    private List<TipoHabitacion> TipoHabitacions;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = new HttpClient();
        TipoHabitacions = new List<TipoHabitacion>();
    }

    private async Task GetAllTipoHabitacion()
    {
        var response = await _httpClient.GetAsync("/api/TipoHabitacion");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            TipoHabitacions = JsonSerializer.Deserialize<List<TipoHabitacion>>(content);
        }
    }
}
